header {
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #ccc;
  padding: 0 32px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 2rem;
    font-family: var(--tui-font-heading);
    font-weight: 600;
    color: #000000;
  }
}

.logo {
  display: block;
  width: 250px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

button[tuiWrapper] {
  background-color: white;
}
